body {
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

body {
  background-color: #1C1D21; }

.container-for-card {
  width: 1800px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px; }
  .container-for-card .wrap {
    width: 20%; }
  .container-for-card .card {
    margin: 10px;
    border-radius: 8px;
    background-color: #393C42;
    overflow: hidden; }
    .container-for-card .card .thum {
      height: 220px;
      background-color: #2C3035;
      overflow: hidden; }
      .container-for-card .card .thum img {
        height: 100%;
        width: 100%;
        background-size: contain; }
    .container-for-card .card .text .txt-top {
      height: 130px;
      padding: 15px 18px;
      display: flex;
      flex-direction: column; }
      .container-for-card .card .text .txt-top .card-title a {
        font-size: 18px;
        color: #B5B6B7;
        font-weight: 400; }
      .container-for-card .card .text .txt-top .desc {
        font-size: 14px;
        color: #717174;
        margin-top: 10px;
        line-height: 1.4; }
      .container-for-card .card .text .txt-top .detail {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-start;
        align-items: flex-end; }
        .container-for-card .card .text .txt-top .detail p a {
          font-size: 13px;
          color: #717174; }
        .container-for-card .card .text .txt-top .detail p a:hover {
          color: #9b9ba1; }
        .container-for-card .card .text .txt-top .detail .tag {
          margin-left: 20px;
          display: flex;
          justify-content: center; }
          .container-for-card .card .text .txt-top .detail .tag .tag-01 a {
            font-size: 13px;
            color: #717174; }
            .container-for-card .card .text .txt-top .detail .tag .tag-01 a:hover {
              color: #9b9ba1; }
          .container-for-card .card .text .txt-top .detail .tag .tag-02 {
            margin-left: 10px; }
            .container-for-card .card .text .txt-top .detail .tag .tag-02 a {
              font-size: 13px;
              color: #717174; }
              .container-for-card .card .text .txt-top .detail .tag .tag-02 a:hover {
                color: #9b9ba1; }
    .container-for-card .card .text .info {
      height: 50px;
      border-top: 1px solid #484849;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 15px; }
      .container-for-card .card .text .info .avatar-group {
        display: flex;
        align-items: center; }
        .container-for-card .card .text .info .avatar-group .avatar {
          width: 22px;
          height: 22px;
          border-radius: 4px;
          overflow: hidden; }
        .container-for-card .card .text .info .avatar-group .author {
          margin-left: 10px;
          position: relative;
          top: 2px; }
          .container-for-card .card .text .info .avatar-group .author a {
            color: #717174;
            font-size: 12px; }
            .container-for-card .card .text .info .avatar-group .author a:hover {
              color: #9b9ba1; }
      .container-for-card .card .text .info .bookmark-group {
        display: flex;
        align-items: center; }
        .container-for-card .card .text .info .bookmark-group .bookmark {
          color: #717174; }
        .container-for-card .card .text .info .bookmark-group .more-vert {
          color: #717174; }

/*# sourceMappingURL=style.css.map */
