#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .top-header {
    .container {
      height: 55px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .lang a {
        font-size: 14px;
        color: #2b2b2b;
        margin-right: 7px;
      }
      .member {
        .em {
          font-size: 14px;
          color: #2b2b2b;
          margin-right: 7px;
        }
        .usage {
          font-size: 12px;
          color: #8e9296;
          margin-right: 7px;
        }
      }
    }
  }

  .main-header {

  }

}

.main-header {
  height: 48px;
  height: 48px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.main-header .container .logo a {
  display: flex;
  align-items: center;
}

.main-header .container .nav ul {
  display: flex;
  justify-content: row;
}

.main-header .container .nav ul li {
  font-size: 16px;
  color: #2b2b2b;
  font-weight: 500;
  margin-left: 50px;
}
