* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}



#wrap {
  .container {
    margin: 0 auto;
    .header {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      right: 0;
      height: 70px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;

        li {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          cursor: pointer;
          &:hover {
            background-color: #f8f8f8;
          }
          &.on {
            color: rgb(18, 200, 224);

          }
        }
      }
    }

    .visual {
      .section {
        &.a {
          position: relative;
          height: 100vh;
          background-color: #f8d5d5;
          .visual-banner {
            .item {
              height: 100vh;
              background: 50% 50% /cover no-repeat;

                &.item1 {
                  background-image: url(https://images.pexels.com/photos/237272/pexels-photo-237272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
                }
                &.item2 {
                  background-image: url(https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
                }
                &.item3 {
                  background-image: url(https://images.pexels.com/photos/348523/pexels-photo-348523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
                }
            }

          }
          .slick-arrow {
            position: absolute;
            top: 50%;
            color: #fff;
            font-size: 30px;
            padding: 100px 50px;
            transform: translateY(-50px);
            cursor: pointer;
            &.slick-prev {
              left: 100px;
            }
            &.slick-next {
              right: 100px;
            }
          }
          .slick-dots {
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
              width: 30px;
              height: 8px;
              background: #fff;
              border: 0;
              margin: 0 5px;
              border-radius: 5px;
              cursor: pointer;
              transition: .3s;
              &.slick-active {
                background-color: #439af6;
                width: 80px;
              }
              button {
                display: none;
              }
            }
          }



        }
        &.b {
          height: 100vh;
          background-color: rgb(201, 240, 245);
        }
        &.c {
          height: 100vh;
          background-color: #f8e5a2;
        }
      }
    }
    .back-top {
      position: fixed;
      bottom: 60px;
      right: 60px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #fff;
      display: none;
      transition: 0.3s;
      &.appear {
        display: block;
      }
    }

    .side-bar {
      position: fixed;
      top: 0;
      left: -320px;
      bottom: 0;
      z-index: 1500;
      width: 320px;
      height: 100vh;
      background-color: #fff;
      transition: 0.3s;
      .close & {
        left: 0;
      }

      .menu-btn {
        width: 50px;
        height: 50px;
        background-color: #fff;
        position: absolute;
        top: 80px;
        left: 100%;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
