html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

body {
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }
  @media only screen and (max-width: 768px) {
    #header .top-header {
      display: none; } }
  #header .top-header .container {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header .top-header .container .lang a {
      font-size: 14px;
      color: #2b2b2b;
      margin-right: 7px; }
    #header .top-header .container .member .em {
      font-size: 14px;
      color: #2b2b2b;
      margin-right: 7px; }
    #header .top-header .container .member .usage {
      font-size: 12px;
      color: #8e9296;
      margin: 0 6px; }
  #header .main-header .container {
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center; }
  #header .main-header .logo a {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      #header .main-header .logo a {
        width: 100px; } }
  @media only screen and (max-width: 768px) {
    #header .main-header nav {
      display: none; } }
  #header .main-header nav ul {
    display: flex; }
    #header .main-header nav ul li:nth-child(1) a:hover {
      color: #fff; }
    #header .main-header nav ul li:nth-child(2) a:hover {
      color: #fff; }
    #header .main-header nav ul li:last-child a {
      padding-right: 0; }
    #header .main-header nav ul li a {
      font-size: 16px;
      color: #2b2b2b;
      font-weight: 500;
      padding: 15px 25px; }
      #header .main-header nav ul li a:hover {
        color: #36e790;
        transition: 0.2s; }
  #header .main-header .btn-menu {
    display: none; }
    @media only screen and (max-width: 768px) {
      #header .main-header .btn-menu {
        display: inline-block; } }

.footer .container {
  height: 240px;
  padding-top: 70px;
  border-top: 1px solid #d8d8d8; }
  .footer .container .terms {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px; }
    .footer .container .terms h6 a {
      margin-right: 40px;
      font-size: 17px;
      color: #2b2b2b; }
  .footer .container .adress {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px; }
    .footer .container .adress p {
      font-size: 14px;
      color: #8e9296;
      margin-right: 20px; }
      .footer .container .adress p.bar:after {
        content: '';
        width: 1px;
        height: 8px;
        background-color: #ddd;
        display: inline-block;
        position: relative;
        left: 10px;
        top: -1px; }
  .footer .container .copywright p {
    color: #8e9296;
    font-size: 14px; }

.visual .cover {
  position: absolute;
  right: 50%;
  top: 0;
  width: 953px; }
  @media only screen and (max-width: 768px) {
    .visual .cover {
      width: 140%;
      right: 5%; } }
  .visual .cover .dot {
    position: absolute;
    top: 10%;
    right: 542px; }
  .visual .cover .bike {
    position: absolute;
    right: -3%;
    bottom: -5%;
    max-width: 89%; }
.visual .container {
  height: 900px;
  position: relative; }
  .visual .container .login-section {
    margin-top: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    @media only screen and (max-width: 768px) {
      .visual .container .login-section {
        justify-content: flex-start;
        align-items: flex-start; } }
    .visual .container .login-section .group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      @media only screen and (max-width: 768px) {
        .visual .container .login-section .group {
          width: 100%; } }
      .visual .container .login-section .group .txt {
        margin-bottom: 70px; }
        @media only screen and (max-width: 768px) {
          .visual .container .login-section .group .txt {
            margin-bottom: 85vw;
            width: 100%; } }
        .visual .container .login-section .group .txt h1 {
          font-size: 42px;
          font-weight: 400;
          color: #2b2b2b;
          line-height: 1.4; }
          @media only screen and (max-width: 768px) {
            .visual .container .login-section .group .txt h1 {
              font-size: 20px; } }
        .visual .container .login-section .group .txt p {
          font-size: 18px;
          font-weight: 400;
          color: #8e9296;
          line-height: 1.4;
          margin-top: 12px; }
          @media only screen and (max-width: 768px) {
            .visual .container .login-section .group .txt p {
              color: #fff;
              font-size: 13px; } }
      .visual .container .login-section .group .log-in {
        width: 320px; }
        @media only screen and (max-width: 768px) {
          .visual .container .login-section .group .log-in {
            width: 100%; } }
        .visual .container .login-section .group .log-in label {
          display: flex;
          flex-direction: column; }
          .visual .container .login-section .group .log-in label input {
            background-color: #fff;
            border: none;
            border-bottom: 1px solid #d8d8d8;
            font-size: 16px;
            color: #8e9296;
            height: 48px;
            margin-top: 4px; }
            .visual .container .login-section .group .log-in label input::placeholder {
              color: #8e9296; }
            .visual .container .login-section .group .log-in label input:focus {
              outline: 0; }
            .visual .container .login-section .group .log-in label input::placeholder {
              font-size: 14px; }
        .visual .container .login-section .group .log-in .checkbox {
          margin-top: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px; }
          .visual .container .login-section .group .log-in .checkbox .auto-login span {
            font-size: 14px;
            color: #2b2b2b; }
          .visual .container .login-section .group .log-in .checkbox .find a {
            font-size: 14px;
            color: #2b2b2b; }
      .visual .container .login-section .group .btn {
        width: 320px; }
        @media only screen and (max-width: 768px) {
          .visual .container .login-section .group .btn {
            width: 100%; } }
        .visual .container .login-section .group .btn input {
          width: 100%;
          height: 48px;
          background-color: #36e790;
          border-radius: 8px;
          text-align: center;
          color: #fff;
          font-size: 14px;
          font-width: 500;
          border: none; }
          .visual .container .login-section .group .btn input:focus {
            outline: none; }
          .visual .container .login-section .group .btn input:hover {
            background-color: #2bcd7d;
            transition: 0.2s; }

.usage {
  position: relative; }
  .usage .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px; }
    .usage .container .gray-dot-big {
      position: absolute;
      left: 50%;
      margin-left: -250px;
      top: 0; }
    .usage .container .gray-dot-small {
      position: absolute;
      left: 50%;
      margin-left: -980px;
      top: 200px; }
    .usage .container .bike-usage {
      height: 980px;
      position: relative; }
      .usage .container .bike-usage h1 {
        font-size: 42px;
        color: #2b2b2b;
        line-height: 1.4;
        font-weight: 400; }
      .usage .container .bike-usage ul {
        width: 590px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px; }
        @media only screen and (max-width: 768px) {
          .usage .container .bike-usage ul {
            width: 100%; } }
        .usage .container .bike-usage ul li {
          width: 285px;
          height: 280px; }
          @media only screen and (max-width: 768px) {
            .usage .container .bike-usage ul li {
              width: 100%;
              text-align: center; } }
          .usage .container .bike-usage ul li .title {
            font-size: 20px;
            font-weight: 500;
            color: #2b2b2b;
            margin: 20px 0 8px 0; }
          .usage .container .bike-usage ul li .des {
            color: #8e9296;
            font-size: 14px;
            font-weight: 400; }
          .usage .container .bike-usage ul li .more {
            color: #8e9296;
            font-size: 14px;
            font-weight: 400;
            margin-top: 33px;
            display: flex; }
            .usage .container .bike-usage ul li .more a {
              color: #8e9296;
              display: flex; }
              .usage .container .bike-usage ul li .more a img {
                width: 20px;
                height: 20px;
                position: relative;
                top: -1px; }
          .usage .container .bike-usage ul li img {
            width: 80px;
            height: 80px; }
    @media only screen and (max-width: 768px) {
      .usage .container .mobile {
        display: none; } }

.desc {
  background-color: #36e790;
  position: relative; }
  .desc .dot1 {
    position: absolute;
    left: 0;
    bottom: 0; }
  .desc .dot2 {
    position: absolute;
    top: 210px;
    right: 228px; }
  .desc .container {
    height: 760px;
    padding-top: 140px; }
    .desc .container .title {
      margin-bottom: 70px; }
      .desc .container .title h1 {
        color: #fff;
        font-size: 42px; }
    .desc .container .card-section ul {
      display: flex;
      justify-content: space-around; }
      .desc .container .card-section ul li.card {
        background-color: #fff;
        width: 285px;
        height: 285px;
        border-radius: 8px;
        padding: 60px 30px; }
        .desc .container .card-section ul li.card a h5 {
          font-size: 20px;
          color: #2b2b2b;
          margin-bottom: 20px; }
        .desc .container .card-section ul li.card a p {
          font-size: 16px;
          color: #8e9296; }

.city {
  position: relative; }
  .city .dot {
    position: absolute;
    top: 220px;
    right: 400px;
    z-index: -2; }
  .city .container {
    height: 627px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .city .container .txt-area h1 {
      color: #2b2b2b;
      font-size: 42px;
      margin-bottom: 18px; }
    .city .container .txt-area p {
      color: #8e9296;
      font-size: 20px; }
    .city .container .txt-area .circle {
      display: flex;
      margin-right: 10px; }
      .city .container .txt-area .circle .circle {
        background-color: #d8d8d8;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-top: 27px; }
        .city .container .txt-area .circle .circle:first-child {
          background-color: #36e790; }
    .city .container .txt-area .btn-group {
      margin-top: 75px;
      display: flex; }
      .city .container .txt-area .btn-group .btn {
        width: 48px;
        height: 48px;
        border: 1px solid #8e9296;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px; }
        .city .container .txt-area .btn-group .btn img {
          width: 13px; }
        .city .container .txt-area .btn-group .btn .hover {
          display: none; }
        .city .container .txt-area .btn-group .btn:hover {
          background: #36e790;
          border: none; }
          .city .container .txt-area .btn-group .btn:hover .normal {
            display: none; }
          .city .container .txt-area .btn-group .btn:hover .hover {
            display: flex; }

/*# sourceMappingURL=style.css.map */
