.visual {
    .cover {
        position: absolute;
        right: 50%;
        top: 0;
        width: 953px;
        @include screen-sm {
            width: 140%;
            right: 5%;
        }



        .circle {

        }

        .dot {
            position: absolute;
            top: 10%;
            right: 542px;
        }

        .bike {
            position: absolute;
            right: -3%;
            bottom: -5%;
            max-width: 89%;
        }

    }

    .container {
        height: 900px;
        position: relative;

        .login-section {
            margin-top: 70px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            @include screen-sm {
                justify-content: flex-start;
                align-items: flex-start;
            }

            .group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                @include screen-sm {
                    width: 100%;
                }

                .txt {
                    margin-bottom: 70px;
                    @include screen-sm {
                        margin-bottom: 85vw;
                        width: 100%;
                    }

                    h1 {
                        font-size: 42px;
                        font-weight: 400;
                        color: #2b2b2b;
                        line-height: 1.4;
                        @include screen-sm {
                            font-size: 20px;
                        }
                    }

                    p {
                        font-size: 18px;
                        font-weight: 400;
                        color: #8e9296;
                        line-height: 1.4;
                        margin-top: 12px;
                        @include screen-sm {
                            color: #fff;
                            font-size: 13px;
                        }
                    }
                }

                .log-in {
                    width: 320px;
                    @include screen-sm {
                        width: 100%;
                    }
                    label {
                        display: flex;
                        flex-direction: column;

                        input {
                            background-color: #fff;
                            border: none;
                            border-bottom: 1px solid #d8d8d8;
                            font-size: 16px;
                            color: #8e9296;
                            height: 48px;
                            margin-top: 4px;

                            &::placeholder {
                                color: #8e9296;
                            }

                            &:focus {
                                outline: 0;
                            }

                            &::placeholder {
                                font-size: 14px;
                            }
                        }
                    }

                    .checkbox {
                        margin-top: 14px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 30px;

                        .auto-login {
                            span {
                                font-size: 14px;
                                color: #2b2b2b;
                            }
                        }

                        .find {
                            a {
                                font-size: 14px;
                                color: #2b2b2b;
                            }

                        }
                    }
                }

                .btn {

                    width: 320px;
                    @include screen-sm {
                        width: 100%;
                    }

                    input {
                        width: 100%;
                        height: 48px;
                        background-color: #36e790;
                        border-radius: 8px;
                        text-align: center;
                        color: #fff;
                        font-size: 14px;
                        font-width: 500;
                        border: none;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background-color: #2bcd7d;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }

    }
}

.usage {
    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;


        .gray-dot-big {
            position: absolute;
            //left: 690px;
            left: 50%;
            margin-left: -250px;
            top: 0;
        }

        .gray-dot-small {
            position: absolute;
            //left: 0;
            left: 50%;
            margin-left: -980px;
            top: 200px;
        }

        .bike-usage {
            height: 980px;
            position: relative;


            h1 {
                font-size: 42px;
                color: #2b2b2b;
                line-height: 1.4;
                font-weight: 400;
            }

            ul {
                width: 590px;
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;
                @include screen-sm {
                    width: 100%;
                }

                li {
                    width: 285px;
                    height: 280px;
                    @include screen-sm {
                        width: 100%;
                        text-align: center;
                    }

                    .title {
                        font-size: 20px;
                        font-weight: 500;
                        color: #2b2b2b;
                        margin: 20px 0 8px 0;
                    }

                    .des {
                        color: #8e9296;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .more {
                        color: #8e9296;
                        font-size: 14px;
                        font-weight: 400;
                        margin-top: 33px;
                        display: flex;

                        a {
                            color: #8e9296;
                            display: flex;

                            img {
                                width: 20px;
                                height: 20px;
                                position: relative;
                                top: -1px;
                            }
                        }
                    }

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }


        .mobile {
            @include screen-sm {
                display: none;
            }
        }


    }

}


.desc {
    background-color: $main-color;
    position: relative;

    .dot1 {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .dot2 {
        position: absolute;
        top: 210px;
        right: 228px;
    }

    .container {
        height: 760px;
        padding-top: 140px;

        .title {
            margin-bottom: 70px;

            h1 {
                color: #fff;
                font-size: 42px;

            }
        }

        .card-section {
            ul {
                display: flex;
                justify-content: space-around;

                li.card {
                    background-color: #fff;
                    width: 285px;
                    height: 285px;
                    border-radius: 8px;
                    padding: 60px 30px;

                    a {
                        h5 {
                            font-size: 20px;
                            color: $black;
                            margin-bottom: 20px;
                        }

                        p {
                            font-size: 16px;
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
}

.city {
    position: relative;
    .dot {
        position: absolute;
        top: 220px;
        right: 400px;
        z-index: -2;
    }
    .container {
        height: 627px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .txt-area {


            h1 {
                color: $black;
                font-size: 42px;
                margin-bottom: 18px;
            }

            p {
                color: $gray;
                font-size: 20px;
            }

            .circle {
                display: flex;
                margin-right: 10px;

                .circle {
                    background-color: #d8d8d8;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    margin-top: 27px;

                    &:first-child {
                        background-color: #36e790;
                    }
                }
            }

            .btn-group {
                margin-top: 75px;
                display: flex;
                .btn {
                    width: 48px;
                    height: 48px;
                    border: 1px solid #8e9296;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    img {
                        width: 13px;
                    }
                    .normal {

                    }
                    .hover {
                        display: none;
                    }

                    &:hover {
                        background: $main-color;
                        border: none;
                        .normal {
                            display: none;
                        }
                        .hover {
                            display: flex;
                        }

                    }
                }




            }
        }

    }
}


