.visual {
    .bg-shape {
        background: $main;
        width: 1000px;
        height: 1000px;
        transform: rotate(-38deg);
        position: absolute;
        top: -42%;
        left: 50%;
        z-index: -100;
        margin-right: 5%;



    }
    .container {
        height: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .welcome-intro {
            h1 {
                font-size: 56px;
                font-weight: 700;
                color: $black;
            }
            P {
                font-size: 14px;
                color: $gray;
            }
            .btn-start {
                margin-top: 20px;
                input {
                    background: $main;
                    width: 146px;
                    height: 52px;
                    border-radius: 8px;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                    border: none;
                }
            }
        }

    }
}

.features {
    .container {
        height: 876px;
        text-align: center;
        padding: 100px 0;

        .features-txt {
            margin-bottom: 60px;
            h2 {
                font-weight: 700;
                font-size: 40px;
                color: $black;
            }
            .line {
                width: 80px;
                height: 2px;
                background-color: #4528DC;
                margin: 15px auto;
            }
            p {
                font-size: 14px;
                color: $gray;
            }

        }
        .section-features {

            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                li.card {
                    width: 350px;
                    height: 236px;
                    text-align: center;
                    padding: 36px 24px;
                    a {
                        img {
                            width: 68px;

                        }
                        h3 {
                            font-size: 20px;
                            color: $black;
                            font-weight: 700;
                        }
                        p {
                            color: $gray;
                            font-size: 14px;
                        }
                    }

                }

            }
        }
    }
}

.section-discover {
    background-color: #f6f9fe;
    .container {
        height: 750px;
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
        .discover-img {
            width: 540px;
            height: 550px;
            text-align: center;
        }
        .discover-txt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h2 {
                font-weight: 700;
                font-size: 40px;
                color: $black;
                margin-bottom: 20px;
            }
            .txt-desc {
                .p-group {
                    display: flex;
                    margin: 10px 0;

                    span {
                        color: #4528DC;
                        margin-right: 10px;
                    }
                    p {
                        font-size: 14px;
                        font-weight: 500;
                        color: $gray;
                    }
                }
            }
            .icons {
                display: flex;
                justify-content: flex-start;


                .icn-bg {
                    background-color: #fff;
                    width: 54px;
                    height: 54px;
                    border-radius: 4px;
                    box-shadow: 0 0px 4px 0 rgba(0,0,0,.2);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 20px;
                    margin-left: 0;
                    span {
                        font-size: 30px;
                        width: 21px;
                        height: 24px;
                        color: #4528DC;
                    }
                }
            }
        }
    }
}