.visual {
    .bg-shape {
        background: $main;
        width: 1000px;
        height: 1000px;
        transform: rotate(-38deg);
        position: absolute;
        top: -42%;
        left: 50%;
        z-index: -100;
        margin-right: 5%;


    }

    .container {
        height: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .welcome-intro {
            h1 {
                font-size: 56px;
                font-weight: 700;
                color: $black;
            }

            P {
                font-size: 14px;
                color: $gray;
            }

            .btn-start {
                margin-top: 20px;

                input {
                    background: $main;
                    width: 146px;
                    height: 52px;
                    border-radius: 8px;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                    border: none;
                }
            }
        }

    }
}

.features {
    .container {
        height: 876px;
        text-align: center;
        padding: 100px 0;

        .features-txt {
            margin-bottom: 60px;

            h2 {
                font-weight: 700;
                font-size: 40px;
                color: $black;
            }

            .line {
                width: 80px;
                height: 2px;
                background-color: #4528DC;
                margin: 15px auto;
            }

            p {
                font-size: 14px;
                color: $gray;
            }

        }

        .section-features {

            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                li.card {
                    width: 350px;
                    height: 236px;
                    text-align: center;
                    padding: 36px 24px;

                    a {
                        img {
                            width: 68px;

                        }

                        h3 {
                            font-size: 20px;
                            color: $black;
                            font-weight: 700;
                        }

                        p {
                            color: $gray;
                            font-size: 14px;
                        }
                    }

                }

            }
        }
    }
}

.section-discover {
    background-color: #f6f9fe;

    .container {
        height: 750px;
        display: flex;
        justify-content: space-between;
        padding: 100px 0;

        .discover-img {
            width: 540px;
            height: 550px;
            text-align: center;
        }

        .discover-txt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h2 {
                font-weight: 700;
                font-size: 40px;
                color: $black;
                margin-bottom: 20px;
            }

            .txt-desc {
                .p-group {
                    display: flex;
                    margin: 10px 0;

                    span {
                        color: #4528DC;
                        margin-right: 10px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 500;
                        color: $gray;
                    }
                }
            }

            .icons {
                display: flex;
                justify-content: flex-start;


                .icn-bg {
                    background-color: #fff;
                    width: 54px;
                    height: 54px;
                    border-radius: 4px;
                    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, .2);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 20px;
                    margin-left: 0;

                    span {
                        font-size: 30px;
                        color: #4528DC;
                    }
                }
            }
        }
    }
}

.section-service {
    .container {
        height: 750px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .service-txt {
            h2 {
                @include h2;
            }

            .text-group {
                .p-group {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 20px 0;

                    .service-icn {
                        background-color: #ddd;
                        width: 54px;
                        height: 54px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include box;

                        span {
                            color: $font-color;
                            font-size: 30px;
                        }
                    }

                    p {
                        margin-left: 20px;
                    }
                }
            }

            input {
                @include btn;
                margin-top: 20px;
            }
        }
    }
}


.section-work-area {
    background: $main;

    .container {
        height: 596px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .main-txt {
            text-align: center;
            margin-bottom: 40px;

            h2 {
                @include h2;
                color: #fff;
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
                color: #fff;
            }
        }

        .wrap-card {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .card {
                width: 350px;
                height: 224px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 64px;
                    height: 64px;
                    margin-bottom: 14px;
                }

                h3 {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 14px;
                }

                p {
                    color: #fff;
                    font-size: 14px;
                }
            }

            .btn-next {
                span {
                    font-size: 40px;
                    color: #fff;
                }
            }
        }
    }
}

.section-interface {
    .container {
        height: 898px;
        padding: 100px 0;
        .interface-txt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 80px;


            h2 {
                @include h2;
            }
            .line {
                width: 80px;
                height: 2px;
                background: $main;
                margin: 20px 0;
            }
            p {
                font-size: 14px;
                color: $gray;
            }
        }
        .interface-design {
            display: flex;
            img {
                width: 250px;
                margin: 0 20px;
            }
        }
        .pagenation {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            .page {
                width: 8px;
                height: 8px;
                background: #E5E5E5;
                border-radius: 50%;
                margin: 0 4px;
                &:first-child {
                    background: $main;
                    box-shadow: 0 0 4px 0 rgba(0,0,0,.5);
                }
            }
        }
    }
}
