.visual {
    .cover {
        position: absolute;
        right: 50%;
        top: 0;
        width: 953px;
        @include screen-sm {
            width: 160%;
            right: 5%;
        }


        .circle {

        }

        .dot {
            position: absolute;
            top: 10%;
            right: 542px;
        }

        .bike {
            position: absolute;
            right: -3%;
            bottom: -5%;
            @include screen-sm {
                width: 84%;
            }
        }

    }

    .container {
        height: 900px;

        .login-section {
            margin-top: 70px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            @include screen-sm {
                justify-content: flex-start;
                align-items: flex-start;
            }


            .group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                @include screen-sm {

                    width: 100%;
                }


                .txt {
                    margin-bottom: 70px;
                    @include screen-sm {
                        position: relative;
                        margin-bottom: 85vw;
                        width: 100%;


                    }

                    h1 {
                        font-size: 42px;
                        font-weight: 400;
                        color: #2b2b2b;
                        line-height: 1.4;
                        @include screen-sm {
                            font-size: 22px;
                        }
                    }

                    p {
                        font-size: 18px;
                        font-weight: 400;
                        color: #8e9296;
                        line-height: 1.4;
                        margin-top: 12px;
                        @include screen-sm {
                            font-size: 12px;
                            color: #fff;
                        }
                    }
                }

                .log-in {

                    @include screen-sm {
                        width: 100%;
                        margin-top: 50px;


                    }


                    label {
                        display: flex;
                        flex-direction: column;
                        @include screen-sm {
                            width: 100%;
                        }

                        input {

                            background-color: #fff;
                            border: none;
                            border-bottom: 1px solid #d8d8d8;
                            font-size: 16px;
                            color: #8e9296;
                            height: 48px;
                            width: 320px;
                            margin-top: 4px;

                            @include screen-sm {
                                width: 100%;
                                background-color: transparent;
                            }

                            &::placeholder {
                                color: #8e9296;
                            }

                            &:focus {
                                outline: 0;
                            }

                            &::placeholder {
                                font-size: 14px;
                            }
                        }
                    }

                    .checkbox {
                        margin-top: 14px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 30px;

                        .auto-login {
                            span {
                                font-size: 14px;
                                color: #2b2b2b;
                            }
                        }

                        .find {
                            a {
                                font-size: 14px;
                                color: #2b2b2b;
                            }

                        }

                        .btn {
                            @include screen-sm {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .txt {
            margin-bottom: 70px;

            h1 {
                font-size: 42px;
                font-weight: 400;
                color: #2b2b2b;
                line-height: 1.4;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                color: #8e9296;
                line-height: 1.4;
                margin-top: 12px;
            }

        }

        .log-in {
            label {
                display: flex;
                flex-direction: column;

                input {
                    background-color: #fff;
                    border: none;
                    border-bottom: 1px solid #d8d8d8;
                    font-size: 14px;
                    color: #8e9296;
                    height: 48px;
                    width: 320px;
                    margin-top: 4px;

                    &:focus {
                        outline: 0;
                    }


                }
            }
        }

        .btn {

            input {
                width: 100%;
                height: 48px;
                background-color: #36e790;
                border-radius: 8px;
                text-align: center;
                color: #fff;
                font-size: 14px;
                font-width: 500;
                border: none;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: #2bcd7d;
                    transition: 0.2s;
                }
            }
        }
    }
}

.usage {
    position: relative;
    @include screen-sm {

    }


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;


        .gray-dot-big {
            position: absolute;
            //left: 690px;
            left: 50%;
            margin-left: -250px;
            top: 0;
        }

        .gray-dot-small {
            position: absolute;
            //left: 0;
            left: 50%;
            margin-left: -980px;
            top: 200px;
        }

        .bike-usage {
            height: 980px;
            position: relative;


            h1 {
                font-size: 42px;
                color: #2b2b2b;
                line-height: 1.4;
                font-weight: 400;
                @include screen-sm {
                    font-size: 24px;
                }
            }

            ul {
                width: 590px;
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;
                @include screen-sm {
                    width: 100%;
                    text-align: center;
                    position: relative;

                }

                li {
                    width: 285px;
                    height: 280px;
                    @include screen-sm {
                        width: 100%;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;


                    }


                    .title {
                        font-size: 20px;
                        font-weight: 500;
                        color: #2b2b2b;
                        margin: 20px 0 8px 0;
                    }

                    .des {
                        color: #8e9296;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .more {
                        color: #8e9296;
                        font-size: 14px;
                        font-weight: 400;
                        margin-top: 33px;
                        display: flex;

                        a {
                            color: #8e9296;
                            display: flex;

                            img {
                                width: 20px;
                                height: 20px;
                                position: relative;
                                top: -1px;
                            }
                        }
                    }

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }

        .mobile {
            @include screen-sm {
                display: none;
            }
        }


    }

}


.desc {
    background-color: $main-color;
    position: relative;

    @include screen-sm {

    }

    .dot1 {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .dot2 {
        position: absolute;
        top: 210px;
        right: 228px;
    }

    .container {
        height: 760px;
        padding-top: 130px;
        @include screen-sm {
            padding-top: 50px;
            height: 1450px;
        }

        .title {
            margin-bottom: 70px;

            h1 {
                color: #fff;
                font-size: 42px;
                @include screen-sm {
                    font-size: 24px;
                    position: relative;

                }

            }
        }

        .card-section {
            ul {
                display: flex;
                justify-content: space-around;
                @include screen-sm {
                    flex-direction: column;
                    justify-content: center;


                }

                li.card {
                    background-color: #fff;
                    width: 285px;
                    height: 285px;
                    border-radius: 8px;
                    padding: 60px 30px;
                    @include screen-sm {
                        width: 100%;
                        text-align: center;
                        margin-bottom: 14px;
                    }

                    a {

                        h5 {
                            font-size: 20px;
                            color: $black;
                            margin-bottom: 20px;
                        }

                        p {
                            font-size: 16px;
                            color: $gray;
                        }

                    }
                }
            }
        }
    }
}

.city {
    position: relative;
    margin-top: 40px;


    .dot {
        position: absolute;
        top: 220px;
        right: 400px;
        z-index: -2;
    }

    .container {
        height: 627px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include screen-sm {
            flex-direction: column;
            justify-content: center;

        }


        .pic {
            @include screen-sm {

            }

        }

        .txt-area {


            h1 {
                color: $black;
                font-size: 42px;
                margin-bottom: 18px;
                @include screen-sm {
                    font-size: 24px;
                    margin-top: 10px;
                }
            }

            p {
                color: $gray;
                font-size: 20px;
                @include screen-sm {
                    font-size: 14px;
                }
            }
            .align {
                display: flex;
                justify-content: center;

                .circle {
                    display: flex;
                    .circle {
                        background-color: #d8d8d8;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        margin-top: 27px;
                        margin-right: 10px;

                        &:first-child {
                            background-color: #36e790;
                        }
                    }
                }
            }

            .btn-group {
                margin-top: 75px;
                display: flex;
                justify-content: center;

                .btn {
                    width: 48px;
                    height: 48px;
                    border: 1px solid #8e9296;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    @include screen-sm {
                        position: relative;
                        bottom: 40px;
                    }

                    img {
                        width: 13px;
                    }

                    .normal {

                    }

                    .hover {
                        display: none;
                    }

                    &:hover {
                        .normal {
                            display: none;
                        }

                        .hover {
                            display: flex;
                        }

                        background: $main-color;
                    }

                }

                .btn-back {
                    width: 48px;
                    height: 48px;
                    border: 1px solid #8e9296;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 13px;
                        height: 23px;
                    }

                    .normal {

                    }

                    .hover {
                        display: none;
                    }

                    &:hover {
                        .normal {
                            display: none;
                        }

                        .hover {
                            display: flex;
                        }

                        background: $main-color;
                    }
                }
            }
        }

    }
}


