.visual {
    .cover {

        .circle {
            position: absolute;
            /*postion: relative; 하면 헤더 밑으로 가지를 않음
             */

            top: 0;
            left: 0;
            z-index: -10;
            max-width: 50%;
            @include screen-lg {
                width: 85%;
                height: 85%;
            }
        }

        .dot {
            position: absolute;
            top: 12.1%;
            left: 0;
            max-width: 30%;
            @include screen-lg {
                height: 50%;
                width: 50%;
            }
            @include screen-md {
                display: none;
            }
        }

        .bike {
            position: absolute;
            left: 9%;
            /*
            bottom: 0;
            */
            /*
            top: 100%;
             */
            top: 350px;
            max-width: 50%;
            @include screen-lg {
                width: 70%;
                height: 70%;
                position: absolute;
                left: 2%;
                @include screen-md {

                }

                @include screen-sm {
                    display: none;
                }
            }

        }

    }

    .container {
        height: 900px;

        .login-section {
            margin-top: 70px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            .group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .txt {
                    margin-bottom: 70px;

                    h1 {
                        font-size: 42px;
                        font-weight: 400;
                        color: #2b2b2b;
                        line-height: 1.4;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 400;
                        color: #8e9296;
                        line-height: 1.4;
                        margin-top: 12px;
                    }
                }

                .log-in {
                    label {
                        display: flex;
                        flex-direction: column;

                        input {
                            background-color: #fff;
                            border: none;
                            border-bottom: 1px solid #d8d8d8;
                            font-size: 16px;
                            color: #8e9296;
                            height: 48px;
                            width: 320px;
                            margin-top: 4px;

                            &::placeholder {
                                color: #8e9296;
                            }

                            &:focus {
                                outline: 0;
                            }

                            &::placeholder {
                                font-size: 14px;
                            }
                        }
                    }

                    .checkbox {
                        margin-top: 14px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 30px;

                        .auto-login {
                            span {
                                font-size: 14px;
                                color: #2b2b2b;
                            }
                        }

                        .find {
                            a {
                                font-size: 14px;
                                color: #2b2b2b;
                            }

                        }
                    }
                }
            }
        }

        .txt {
            margin-bottom: 70px;

            h1 {
                font-size: 42px;
                font-weight: 400;
                color: #2b2b2b;
                line-height: 1.4;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                color: #8e9296;
                line-height: 1.4;
                margin-top: 12px;
            }

        }

        .log-in {
            label {
                display: flex;
                flex-direction: column;

                input {
                    background-color: #fff;
                    border: none;
                    border-bottom: 1px solid #d8d8d8;
                    font-size: 14px;
                    color: #8e9296;

                    &:focus {
                        outline: 0;
                    }

                    height: 48px;
                    width: 320px;
                    margin-top: 4px;
                }
            }
        }

        .btn {

            input {
                width: 320px;
                height: 48px;
                background-color: #36e790;
                border-radius: 8px;
                text-align: center;
                color: #fff;
                font-size: 14px;
                font-width: 500;
                border: none;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: #2bcd7d;
                    transition: 0.2s;
                }
            }
        }
    }
}

.usage {
    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;


        .gray-dot-big {
            position: absolute;
            left: 690px;
            top: 0;
            z-index: -1;
        }

        .gray-dot-small {
            position: absolute;
            left: 0;
            top: 200px;
            z-index: -1;
        }

        .bike-usage {
            height: 980px;


            h1 {
                font-size: 42px;
                color: #2b2b2b;
                line-height: 1.4;
                font-weight: 400;
            }

            ul {
                width: 590px;
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;

                li {
                    width: 285px;
                    height: 280px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;

                    .title {
                        font-size: 20px;
                        font-weight: 500;
                        color: #2b2b2b;
                        margin: 20px 0 8px 0;
                    }

                    .des {
                        color: #8e9296;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .more {
                        color: #8e9296;
                        font-size: 14px;
                        font-weight: 400;
                        margin-top: 33px;
                        display: flex;

                        a {
                            color: #8e9296;
                            display: flex;
                            align-items: none;

                            img {
                                width: 20px;
                                height: 20px;
                                position: relative;
                                top: -1px;
                            }
                        }
                    }

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }


    }

}


.desc {
    background-color: $main-color;
    position: relative;

    .dot1 {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .dot2 {
        position: absolute;
        top: 210px;
        right: 228px;
    }

    .container {
        height: 760px;
        padding-top: 140px;

        .title {
            margin-bottom: 70px;

            h1 {
                color: #fff;
                font-size: 42px;

            }
        }

        .card-section {
            ul {
                display: flex;
                justify-content: space-around;

                li.card {
                    background-color: #fff;
                    width: 285px;
                    height: 285px;
                    border-radius: 8px;
                    padding: 60px 30px;

                    &:hover {
                        position: relative;
                        top: -15px;
                        transition: 0.2s;
                    }

                    a {
                        h5 {
                            font-size: 20px;
                            color: $black;
                            margin-bottom: 20px;
                        }

                        p {
                            font-size: 16px;
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
}

.city {
    position: relative;
    .dot {
        position: absolute;
        top: 220px;
        right: 400px;
        z-index: -2;
    }
    .container {
        height: 627px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .txt-area {


            h1 {
                color: $black;
                font-size: 42px;
                margin-bottom: 18px;
            }

            p {
                color: $gray;
                font-size: 20px;
            }

            .circle {
                display: flex;
                margin-right: 10px;

                .circle {
                    background-color: #d8d8d8;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    margin-top: 27px;

                    &:first-child {
                        background-color: #36e790;
                    }
                }
            }

            .btn {
                margin-top: 75px;
                display: flex;
                .btn-back {
                    width: 48px;
                    height: 48px;
                    border: 1px solid #8e9296;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background: $main-color;
                        border: none;
                    }

                    a {
                        display: flex;
                        justify-content: row;
                        align-items: center;


                        img {
                            width: 13px;
                            height: 23px;
                        }
                    }
                }
                .btn-next {
                    width: 48px;
                    height: 48px;
                    background-color: $main-color;
                    margin-left: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 13px;
                        height: 23px;
                    }
                }
            }
        }

    }
}


