.visual {
    position: relative;
    height: 790px;

    .cover {
        position: absolute;
        top: 0;
        left: 0;
        .circle {


            img {

            }
        }

        .dot {

            position: absolute;
            top: 10%;
            left: 0;
        }

        .bike {
            position: absolute;
            right: -6%;
            bottom: -6%;
            img {


            }
        }

    }
}


.login-section .txt h1 {
    font-size: 42px;
    color: #2b2b2b;
    font-weight: 400;
    margin-bottom: 12px;
}

.login-section .txt p {
    color: #8e9296;
    font-size: 18px;
}

.login-section {
    width: 700px;
}

.login-section .login-btn {
    width: 320px;
}

.login-section .login-btn p {
    color: #8e9296;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
}

.login-section .login-btn .id-btn .line {
    width: 320px;
    height: 1px;
    background-color: #d8d8d8;

}

.login-section .login-btn .id-btn {
    margin-top: 70px;
    margin-bottom: 4px;
}

.login-section .login-btn .password-btn .line {
    width: 320px;
    height: 1px;
    background-color: #d8d8d8;
}