#header {
    .top-header {
        .container {
            height: 32px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .links {
                a {
                    font-size: 12px;
                    color: #a2a2a2;
                    padding: 0 10px;
                    position: relative;

                    &.em {
                        color: #000;
                    }

                    &.bar:after {
                        content: "";
                        width: 1px;
                        height: 10px;
                        background: #ddd;
                        position: absolute;
                        top: 2px;
                        right: -3px;


                    }

                    &:hover {
                        color: #000;
                    }

                }
            }
        }
    }
}

.main-header {
    .container {
        height: 72px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eae9e9;

        .logo {
            width: 206px;
            height: 20px;
            margin-right: 120px;
        }

        .gnb {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;

            nav {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    li {
                        a {
                            font-size: 16px;
                            color: #2b2b2b;
                            padding: 0 15px;
                            position: relative;
                            top: 2px;

                            &:hover {
                                color: #1780ff;
                            }
                        }
                    }
                }

            }

            .btn-search {
                width: 24px;
                height: 24px;
                position: relative;
                top: 2px;
            }

        }
    }
}

.group {
    display: flex;
    justify-content: center;

    .btn.back {
        background-color: #fff;
        border: 1px solid #8e9296;
        width: 48px;
        height: 48px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .hover {
            display: none;
        }
        &:hover {
            background-color: #36e790;
            border: none;
            .normal {
                display: none;
            }
            .hover {
                display: flex;
            }

        }
    }
}










