#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  @include screen-sm {

  }

  .top-header {
    @include screen-sm {
      display: none;
    }
    .container {
      height: 55px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .lang a {
        font-size: 14px;
        color: #2b2b2b;
        margin-right: 7px;
      }
      .member {
        .em {
          font-size: 14px;
          color: #2b2b2b;
          margin-right: 7px;
        }
        .usage {
          font-size: 12px;
          color: #8e9296;
          margin: 0 6px;
        }
      }
    }
  }

  .main-header {
    .container {
      display: flex;
      justify-content: space-between;
      height: 48px;
      align-items: center;
    }

    .logo a {
      display: flex;
      align-items: center;
      @include screen-sm {
        width: 100px;
      }
    }
    nav {
      @include screen-sm {
        display: none;
      }
      ul {
        display: flex;
        li {

          &:nth-child(1) {
            a {
              &:hover {
                color: #fff;
              }
            }
          }



          &:last-child {
            a {
              padding-right: 0;
            }
          }
          a {
            font-size: 16px;
            color: #2b2b2b;
            font-weight: 500;
            padding: 15px 25px;
            &:hover {
              color: $main-color;
              transition: 0.2s;
            }
          }
        }
      }
    }

    .btn-menu {
      display: none;
      @include screen-sm {
        display: inline-block;
      }
    }

  }
}
