.footer {
    .container {
        height: 240px;
        padding-top: 70px;
        border-top: 1px solid #d8d8d8;

        .terms {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 30px;

            h6 {
                a {
                    margin-right: 40px;
                    font-size: 17px;
                    color: $black;
                }
            }
        }

        .adress {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 8px;

            p {
                font-size: 14px;
                color: $gray;
                margin-right: 20px;

                &.bar:after {
                    content: '';
                    width: 1px;
                    height: 8px;
                    background-color: #ddd;
                    display: inline-block;
                    position: relative;
                    left: 10px;
                    top: -1px;
                }
            }

        }

        .copywright {
            p {
                color: $gray;
                font-size: 14px;
            }
        }
    }
}